* {
    font-family: Mali-Medium;
    user-select: none;
}

body {
    margin: 0;
    animation: fade 1s ease-out;
    background-color: #151414;
    
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    height: 10vh;
    background: linear-gradient(to bottom,#191F5B, #151414);

}

main {
    position: relative;
    height: 80vh;
    background-color: #151414;
    
}

footer {
    height: 10vh;
    background: linear-gradient(to top,#191F5B, #151414);
}



#mainUI {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80vh;
    width: 100vw;
    z-index: 2;
    background-color: #151414;
}

.menu_buttons{
    position: absolute;
    top: 5%;
    left: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    gap: 20px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    cursor: pointer;
}

#playerprofile {
    /* position: relative;
    top: 30px;
    left: 20px; */
    display: flex;
    background-color: transparent;
    justify-content: start;
    font-family: Mali-Medium;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;
    gap: 20px;
}

#playerprofile > :nth-child(1){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    z-index: 2;
    transition: 3s ease;
}

#playerprofile > :nth-child(2){
    position: absolute;
    top: 8px;
    left: 15px;
    width: 30px;
    height: 30px;
    z-index: 1;
    transition: 3s ease;
}

#playerprofile > :nth-child(3){
    position: absolute;
    top: 14px;
    left: 0px;
    width: 30px;
    height: 30px;
    z-index: 3;
    transition: 3s ease;
}

#playerprofile > :nth-child(4){
    margin-left: 50px;
}

#playernamesUIbg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 0.3s ease-in;
    background-color: transparent;
    
    
}

.leaderboard {
    display: flex;
    justify-content: start;
    background-color: transparent;
    font-family: Mali-Medium;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.leaderboard > :nth-child(1){
    width: 30px;
    height: 30px;
    z-index: 3;
    transition: 0.5s ease;
}

.leaderboard > :nth-child(1):hover{
    filter: drop-shadow(0px 0px 10px rgb(229, 255, 0));
}

.leaderboard > :nth-child(2){
    margin-left: 20px;
}

.leaderboardUIbg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 0.3s ease-in;
    background-color: transparent;
}

.leaderboardUI {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    height: 45vh;
    width: 60vh;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1s ease-in;
    border-radius: 20px;
    animation: scale 0.5s ease;
}
.playernamesUI {
    
    display: flex;
    position: relative;
    flex-direction: column;
    height: 60vh;
    width: 60vh;
    background-color: #151414;
    transition: 1s ease-in;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #13FFE3;
    border: #13FFE3 solid 1px;
    animation: scale 0.5s ease;
    
}

.login_form {
    
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    height: 45vh;
    width: 60vh;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1s ease-in;
    border-radius: 20px;
    animation: scale 0.5s ease;
    
    
}

.login_form > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 20px;
}

#logintxt{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#login_div > input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 200px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.3s ease;
    border: solid #13FFE3 1px;
}

#login_div > input:nth-child(3){
    cursor: pointer;
}

#login_div > input:nth-child(3):hover{
    color: #00fd65;
    border: solid 1px #00fd65;
}

#login_div ::placeholder {
    margin-left: 20px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}





#playernamessquare {
    position: absolute;
    left: 20%;
    height: 25px;
    width: 25px;
    border: solid 3px #00D1FF;
    transition: all 0.5s ease;
    margin-right: 100px;
}

.createnewplayer, .logout_div {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#delete {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#create_delete_back {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}



#delete_and_createplayer {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0vh;
    height: 20vh;
    width: 60vh;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1s ease-in;
    border-radius: 20px;
    animation: scale 0.5s ease;
    
}

#delete_and_createplayer > div > div :nth-child(2) {
    position: absolute;
    left: 45%;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    transition: all 0.5s ease;
}

#delete_and_createplayer > div {
    cursor: pointer;
}

#delete_and_createplayer > div > :nth-child(2) {
    position: absolute;
    left: 45%;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    transition: all 0.5s ease;
}



#title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-280%);
    font-family: Mali-Medium;
    font-size: 30px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 250px;
    height: 50px;

}


.response {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -280%);
    font-family: Mali-Medium;
    font-size: 20px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 250px;
    height: 50px;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.logout {
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}

#logouttxt{
    display: flex;
    justify-content: center;
    align-items: center;
}



.response.hide, .login_form.hide, .logout_div.hide, .createnewplayer.hide {
    display: none;
}

#start {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-90%,100%);
    font-family: Mali-Medium;
    font-size: 30px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 150px;
    transition: all 0.5s ease;
    border: none;
    cursor: pointer;
    
}



#buttonsquare {
    margin-right: 20px;
    height: 30px;
    width: 30px;
    border: solid 3px #00D1FF;
    transition: all 0.5s ease;
}

@font-face {
    font-family: Mali-Medium;
    src: url('fonts/mali/Mali-MediumItalic.ttf') format('truetype');
}

#style1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%,-280%);
    width: 100px;
    height: 70px;
}

#circle {
    position: relative;
    top: 0px;
    left: 70%;
    width: 20px;
    height: 20px;
    border: #00D1FF solid 3px;
    border-radius: 100%;
}

#square {
    position: relative;
    top: -10%;
    left: 40%;
    transform: rotateZ(17deg);
    width: 12px;
    height: 12px;
    border: #00D1FF solid 3px;
}

#triangle {
    position: relative;
    top: -3%;
    left: 15%;
    transform: rotateZ(-17deg);
    width: 0;
    height: 0;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: 12px solid #00D1FF;
}

#style2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%,-150%) scaleX(-1) scaleY(-1);
    width: 100px;
    height: 70px;
}

#settingsUI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50vh;
    width: 50vw;
    z-index: 1;
    opacity: 0;
    background-color: #151414;
}

















#signupUIbg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 0.3s ease-in;
    background-color: transparent;
    
    
}

.signupUI {
    
    display: flex;
    position: relative;
    flex-direction: column;
    height: 60vh;
    width: 60vh;
    background-color: #151414;
    transition: 1s ease-in;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #13FFE3;
    border: #13FFE3 solid 1px;
    animation: scale 0.5s ease;
    
}

#signup_UI {
    
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    height: 45vh;
    width: 60vh;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1s ease-in;
    border-radius: 20px;
    animation: scale 0.5s ease;
    
    
}

#signup_UI > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 20px;
}

#signuptxt{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#signup_div > input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 200px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.3s ease;
    border: solid #13FFE3 1px;
}

#signup_div > input:nth-child(3){
    cursor: pointer;
}

#signup_div > input:nth-child(3):hover{
    color: #00fd65;
    border: solid 1px #00fd65;
}

#signup_div ::placeholder {
    margin-left: 20px;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}





#playernamessquare {
    position: absolute;
    left: 20%;
    height: 25px;
    width: 25px;
    border: solid 3px #00D1FF;
    transition: all 0.5s ease;
    margin-right: 100px;
}

#signup_back {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}



#backdiv {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0vh;
    height: 20vh;
    width: 60vh;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1s ease-in;
    border-radius: 20px;
    animation: scale 0.5s ease;
    
}

#backdiv > div > div :nth-child(2) {
    position: absolute;
    left: 45%;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    transition: all 0.5s ease;
}

#backdiv > div {
    cursor: pointer;
}

#backdiv > div > :nth-child(2) {
    position: absolute;
    left: 45%;
    background: linear-gradient(to right, #13FFE3, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    transition: all 0.5s ease;
}
